/********************Page produit.html********************/

#produit {
  display: flex;
  border-top: 1px #E0E0E0 solid;
  border-bottom: 1px #E0E0E0 solid;
  justify-content: center;
}

/**Image produit**/

img[alt="Mentha spicata"]{
	max-width: 100%;
	height: auto;
}

#image_principale {
  font-style: italic;
  text-align: center;
}

/**Description produit**/

.bloc {
  padding: 2%;
}

#nom_produit h1 {
  color: #009900;
  font-size: 300%;
  font-weight: bold;
}

#nom_produit h2 {
  color: #A0A0A0;
  font-size: 100%;
  font-style: italic;
}

#prix {
  font-size: 200%;
  color: #CC0066;
}

#ajout {
  margin: 1%;
  background-color: #DBEEDB;
  border-radius: 4px;
  cursor: pointer;
  width:150px;
  line-height:30px;
  text-align:center;
  vertical-align:middle;
}

a:visited{
  color: #606060;
	text-decoration: none;
}

#ajout:hover {
  background-color: #009900;
  font-weight: bold;
  text-align: center;
}


/**Avis**/

#appreciations {
  border-top: 1px #E0E0E0 solid;
  border-bottom: 1px #E0E0E0 solid;
  padding-left: 10px;
  padding-right: 10px;
}

#appreciations h1 {
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}

#appreciations h3 {
  font-size: 120%;
}

#note{
  text-align: center;
  color: #CC0066;
  font-weight: bold;
  font-size: 200%;
  margin-top: 0px;
}

#time {
  font-style: italic;
  font-weight: normal;
  font-size: 50%;
}

/******************** responsive ********************/

@media all and (max-width: 1788px){
	#cont_body{
		width: 75%;
	}
}
@media all and (max-width: 1670px){
	#cont_body{
		width: 80%;
	}
}
@media all and (max-width: 1566px){
	#cont_body{
		width: 85%;
	}
}
@media all and (max-width: 1474px){
	#cont_body{
		width: 90%;
	}
}
@media all and (max-width: 1392px){
	#cont_body{
		width: 95%;
	}
}
@media all and (max-width: 1318px){
	#cont_body{
		width: 75%;
	}

	#cont_head .elt:nth-child(1){
		flex: 5;
	}
	#cont_head .elt:nth-child(2){
		flex: 1;
	}
}

@media all and (max-width: 922px){
	#cont_body{
		width: 90%;
		min-width: 320px;
	}
	#cont_head .elt:nth-child(1){
		flex: 4;
	}
	#cont_head .elt:nth-child(2){
		flex: 1;
	}
	#cont_nav{
		flex-wrap: wrap;
	}
	#cont_foo{
		min-width: 320px;
	}
  #produit{
    flex-direction: column;
  }
  #nom_produit{
    text-align: center;
  }
  #achat{
    text-align: center;
  }
  #ajout{
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (max-width: 514px){
	#avantages, #infos{
		flex-wrap: wrap;
	}
}
